.nav-links {
  display: center;
  list-style-type: none;
}

.button-links {
  float: left;
  margin: 5px;
  padding-top: 10px;
  list-style-type: none;
}

.HeaderInfo {
  color: rgb(255, 255, 255);
  padding-left: 50px;
  height: 20px;
  display: flex;
  width: 900px;
  
}

.entireClient {
  background-color: #504b4b;
  width: 1000px;
  height: 850px;
  margin: 0 auto;
}

.NavBar {
  height: 70px;
  position: fixed;
}

.ProfileBox {
  width: 150px;
  height: 50px;
}